@media screen and (max-width: 600px){
    .container{
        padding-bottom: 100px;
    }
    .col-md-4{
        margin-top: 60px;
    }
}
@media screen and (max-width: 520px){
   .service_section h1 {
       margin-top: 0;
       padding: 50px 0px;
       width: 100%;
       margin-bottom: 0px;
       font-size: 2.8rem;
       text-align: center;
   }
}
@media screen and (max-width: 380px){
    .col-md-4 {
        margin-top: 120px;
    }
}