*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* .header{
    width: 100%;
    height: 53.5vh;
    background-image: linear-gradient(120deg, rgba(168, 165, 165, 0.377), rgba(202, 195, 195, 0.199)),url(https://youmatter.world/app/uploads/sites/2/2019/11/tech-planet.jpg);
    background-size: cover;
    background-position: center;
}
.navbar-brand{
    margin: 0 16px;
    padding-left: 30px;
}
.navbar .navbar-brand {
    font-size: 3.5rem;
}
.nav{
    float: right;
}
.navbar .navbar-nav>li {
    font-size: 1.6rem;
    margin-top: 20px;
}
.navbar .nav li a{
    color: #002b48;
    font-weight: bold;
}
.navbar .nav li a:hover{
    transition: all .1s ease-in-out;
    color: #000000;
    background: transparent;
}
.navbar-toggle .icon-bar {
    background: #ffff;
}
.heading{
    padding-top: 85px;
    color: #fff;
}
.heading h1{
    font-size: 5rem;
    font-weight: 500;
}
.heading p{
    font-size: 1.6rem;
    padding-top: 20px;
} */
.service_section{
    width: 100%;
    height: 80.5vh;
    background: #fff;
}
.service_section h1{
    margin-top: 0;
    padding: 50px 130px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}
.main{
    width: 100%;
    min-height: 380px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.service{
    background: #ebeaea;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: transform .4s;
    box-shadow: 0 0 20px -15px #8b8b8b;
}
.service_logo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #ebeaea;
    border: 18px solid #fff;
}
.service_section i{
    width: 50px;
    margin-top: 20px;
    font-size: 5rem;
    color: #007bff;
    transition: transform 1s;
}
.service h4{
    height: 35px;
    width: 80%;
    background: #ebeaea;
    margin: 50px auto;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}
.service h4::after{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #ebeaea, #007bff);
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}
.service h4::before {
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #007bff, #ebeaea);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}
.service p{
    color: #777;
}
.shadow1{
    height: 200px;
    width: 80%;
    background: #ebeaea;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    transition: transform .4s;
    box-shadow: 0 0 20px -15px #000000;
}
.shadow2 {
    height: 200px;
    width: 64%;
    background: #ebeaea;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
}
.main:hover .service{
    transform: translateY(-50px);
}
.main:hover .shadow1 {
    transform: translateY(-25px);
}
.main:hover i {
    transform: rotate(360deg);
}